<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <display-name>ControladorLibros</display-name>
  <servlet-name>ControladorLibros</servlet-name>
  <servlet-class>controllers.ControladorLibros</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ControladorLibros</servlet-name>
  <url-pattern>*.html</url-pattern>
 </servlet-mapping>
 <error-page>
  <exception-type>java.lang.RuntimeException</exception-type>
  <location>/error.jsp</location>
 </error-page>
</web-app>
